body {
    /* htmlのbodyタグのスタイル */
    background-color: white;
}

.container {
    /* divタグ、containerクラスのスタイル */
    width: 960px; 
    /* マージンは余白を示す */
    margin-right: auto;
    margin-left: auto;
}

footer {
    /* 中央揃え */
    text-align: center;
}

header {
    position: relative;
}

header h1, h2 {
    /* headerとh1の子孫関係 */
    display: inline-block;
    padding: 10px 5px;
}


.ddmenu {
    /* ddmenuのulクラス全体 */
    background-color: gray;
    margin: 0px;
    padding: 0px 15px;
}

.ddmenu>li {
    /* ddmenuクラスの直下のliタグに適用 */
    /* displayは要素の配置の仕方が変わる */
    display: inline-block;
    position: relative;
    list-style-type: none;
    width: 220px;
}

.ddmenu li:hover ul {
    /* ddmenuの下のliにホバーしたときのul */
    display: block;
}


.ddmenu a {
    display: block;
    background-color: gray;
    padding: 0px 30px;
    color: white;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.ddmenu ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    z-index: 1000;
}

.ddmenu ul li a {
    /* ddmenuの下のulのliのa */
    text-align: left;
    padding-left: 10px;
    font-weight: normal;
}

.slider {
    width: 960px;
    height: 360px;
    overflow: hidden;
}

.slider-w {
    width: 700%;
    position: relative;
    animation: slider 10s infinite;
}

.slider-i {
    /* 左寄せ */
    float: left;
    position: relative;
}

.main {
    width: 59%;
}

.info {
    width: 40%;
    height: 200px;
    padding: 0 20px;
}

.info table {
    width: 90%;
    margin: 10px;
}

.info td {
    border-bottom: 1px dotted black;
    padding: 5px;
}

.info img div {
    width: 20%;
    display: inline-block;
}

.mainContainer div{
    display: inline-block;
    vertical-align: top;
}

.info img {
    aspect-ratio: 4/3;
    width: 10%;
}

/* アニメーションの設定 */
@keyframes slider {
    0% {
        transform: translateX(0px);
    }

    14% {
        transform: translateX(-960px);
    }

    28% {
        transform: translateX(-1920px);
    }

    42% {
        transform: translateX(-2880px);
    }

    56% {
        transform: translateX(-3840px);
    }

    70% {
        transform: translateX(-4800px);
    }

    84% {
        transform: translateX(-5760px);
    }

    100% {
        transform: translateX(0px);
    }
}